{% extends 'dashboard_layout.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
{% if 'success' in message.tags %}
<p class="text-green-500">{{message}}</p>
{% elif 'error' in message.tags %}
<p class="text-red">{{message}}</p>
{% endif %}
{% endfor %}
{% endif %}
<h1>Category Lists</h1>
<section class="mt-10">
  <h2 class="text-xl font-semibold mb-4">Category List</h2>

  <div class="overflow-x-auto bg-white rounded shadow">
    <table class="min-w-full text-sm text-left text-gray-600">
      <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
        <tr>
          <th class="px-6 py-3">#</th>
          <th class="px-6 py-3">Category Name</th>
          <th class="px-6 py-3 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
     
         {% for category in categories %}
          <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4">{{forloop.counter}}</td>
          <td class="px-6 py-4 font-medium text-gray-900">{{category.category_name|truncatechars:20 }}</td>
          <td class="px-6 py-4 text-right">
       <a href="{% url 'update_category' category.id%}" > <button class="text-blue-500 hover:underline text-xs mr-2" >Edit</button></a>
          <a href="{%url 'delete_category' category.id%}">  <button class="text-red-500 hover:underline text-xs">Delete</button></a>
          </td>
        </tr>
         {% endfor %}
        
        
      </tbody>
    </table>
  </div>
</section>
{% endblock %}